-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: dongalletoflask
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cortes_caja`
--

DROP TABLE IF EXISTS `cortes_caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cortes_caja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mes` varchar(7) NOT NULL,
  `ingreso_total` decimal(10,2) NOT NULL,
  `egresos_total` decimal(10,2) NOT NULL,
  `monto_mermas` decimal(10,2) NOT NULL,
  `caja_reportada` decimal(10,2) NOT NULL,
  `utilidad` decimal(10,2) NOT NULL,
  `fecha_creacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cortes_caja`
--

LOCK TABLES `cortes_caja` WRITE;
/*!40000 ALTER TABLE `cortes_caja` DISABLE KEYS */;
INSERT INTO `cortes_caja` VALUES (1,'2025-04',223.84,42300.00,0.00,200.00,-42076.16,'2025-04-11 14:10:29');
/*!40000 ALTER TABLE `cortes_caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estatusproduccion`
--

DROP TABLE IF EXISTS `estatusproduccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estatusproduccion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idGalleta` int NOT NULL,
  `nombreGalleta` varchar(50) NOT NULL,
  `estatus` enum('En preparacion','Horneando','Enfriando') DEFAULT NULL,
  `tiempoEstimado` int NOT NULL,
  `fechaInicio` datetime DEFAULT NULL,
  `idPresentacion` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idGalleta` (`idGalleta`),
  KEY `idPresentacion` (`idPresentacion`),
  CONSTRAINT `estatusproduccion_ibfk_1` FOREIGN KEY (`idGalleta`) REFERENCES `galletas` (`id`),
  CONSTRAINT `estatusproduccion_ibfk_2` FOREIGN KEY (`idPresentacion`) REFERENCES `presentacionesgalletas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estatusproduccion`
--

LOCK TABLES `estatusproduccion` WRITE;
/*!40000 ALTER TABLE `estatusproduccion` DISABLE KEYS */;
INSERT INTO `estatusproduccion` VALUES (13,4,'Galleta de maizena','En preparacion',30,'2025-04-07 17:44:18',13),(18,5,'Galleta de chocolate abuelita','En preparacion',30,'2025-04-07 18:14:07',18),(19,5,'Galleta de chocolate abuelita','En preparacion',30,'2025-04-07 18:14:07',19),(20,5,'Galleta de chocolate abuelita','En preparacion',30,'2025-04-07 18:14:07',20);
/*!40000 ALTER TABLE `estatusproduccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `galletas`
--

DROP TABLE IF EXISTS `galletas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `galletas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` text,
  `idReceta` int NOT NULL,
  `rutaFoto` longtext NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idReceta` (`idReceta`),
  CONSTRAINT `galletas_ibfk_1` FOREIGN KEY (`idReceta`) REFERENCES `recetas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `galletas`
--

LOCK TABLES `galletas` WRITE;
/*!40000 ALTER TABLE `galletas` DISABLE KEYS */;
/*!40000 ALTER TABLE `galletas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumos`
--

DROP TABLE IF EXISTS `insumos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `fechaIngreso` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fechaCaducidad` date NOT NULL,
  `cantidad` decimal(10,2) NOT NULL,
  `unidadBase` varchar(20) NOT NULL,
  `costoPorUnidad` decimal(10,2) NOT NULL,
  `descripcion` text,
  `proveedor_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proveedor_id` (`proveedor_id`),
  CONSTRAINT `insumos_ibfk_1` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumos`
--

LOCK TABLES `insumos` WRITE;
/*!40000 ALTER TABLE `insumos` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumosproveedor`
--

DROP TABLE IF EXISTS `insumosproveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumosproveedor` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idProveedor` int NOT NULL,
  `idInsumo` int NOT NULL,
  `precio` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idProveedor` (`idProveedor`),
  KEY `idInsumo` (`idInsumo`),
  CONSTRAINT `insumosproveedor_ibfk_1` FOREIGN KEY (`idProveedor`) REFERENCES `proveedores` (`id`),
  CONSTRAINT `insumosproveedor_ibfk_2` FOREIGN KEY (`idInsumo`) REFERENCES `insumos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumosproveedor`
--

LOCK TABLES `insumosproveedor` WRITE;
/*!40000 ALTER TABLE `insumosproveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumosproveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mermas`
--

DROP TABLE IF EXISTS `mermas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mermas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idGalleta` int DEFAULT NULL,
  `idInsumo` int DEFAULT NULL,
  `cantidad` decimal(10,2) NOT NULL,
  `motivo` text NOT NULL,
  `fechaRegistro` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idGalleta` (`idGalleta`),
  KEY `idInsumo` (`idInsumo`),
  CONSTRAINT `mermas_ibfk_1` FOREIGN KEY (`idGalleta`) REFERENCES `galletas` (`id`),
  CONSTRAINT `mermas_ibfk_2` FOREIGN KEY (`idInsumo`) REFERENCES `insumos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mermas`
--

LOCK TABLES `mermas` WRITE;
/*!40000 ALTER TABLE `mermas` DISABLE KEYS */;
/*!40000 ALTER TABLE `mermas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagoproveedor`
--

DROP TABLE IF EXISTS `pagoproveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagoproveedor` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idProveedor` int NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fechaPago` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idProveedor` (`idProveedor`),
  CONSTRAINT `pagoproveedor_ibfk_1` FOREIGN KEY (`idProveedor`) REFERENCES `proveedores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagoproveedor`
--

LOCK TABLES `pagoproveedor` WRITE;
/*!40000 ALTER TABLE `pagoproveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagoproveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidoscliente`
--

DROP TABLE IF EXISTS `pedidoscliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedidoscliente` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_presentacion` int NOT NULL,
  `cantidadcomprado` int NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `fechaPedido` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fechaRecogida` datetime DEFAULT NULL,
  `estatus` enum('pendiente','completado','cancelado') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_presentacion` (`id_presentacion`),
  CONSTRAINT `pedidoscliente_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `pedidoscliente_ibfk_2` FOREIGN KEY (`id_presentacion`) REFERENCES `presentacionesgalletas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidoscliente`
--

LOCK TABLES `pedidoscliente` WRITE;
/*!40000 ALTER TABLE `pedidoscliente` DISABLE KEYS */;
INSERT INTO `pedidoscliente` VALUES (1,8,9,1,2.64,3.06,'2025-04-08 00:26:14','2025-04-07 00:00:00','pendiente'),(2,8,5,1,2.86,3.32,'2025-04-08 02:03:11','2025-04-08 00:00:00','pendiente'),(3,8,9,1,2.64,3.06,'2025-04-08 02:16:24','2025-04-07 00:00:00','pendiente');
/*!40000 ALTER TABLE `pedidoscliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presentacionesgalletas`
--

DROP TABLE IF EXISTS `presentacionesgalletas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presentacionesgalletas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idGalleta` int NOT NULL,
  `tipoPresentacion` enum('Piezas','Gramos','1kg','700g') NOT NULL,
  `cantidad` int NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `stock` int NOT NULL,
  `fechaCaducidad` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idGalleta` (`idGalleta`),
  CONSTRAINT `presentacionesgalletas_ibfk_1` FOREIGN KEY (`idGalleta`) REFERENCES `galletas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presentacionesgalletas`
--

LOCK TABLES `presentacionesgalletas` WRITE;
/*!40000 ALTER TABLE `presentacionesgalletas` DISABLE KEYS */;
/*!40000 ALTER TABLE `presentacionesgalletas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produccion`
--

DROP TABLE IF EXISTS `produccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produccion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idReceta` int NOT NULL,
  `idGalleta` int NOT NULL,
  `cantidadProducida` int NOT NULL,
  `fechaProduccion` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idReceta` (`idReceta`),
  KEY `idGalleta` (`idGalleta`),
  CONSTRAINT `produccion_ibfk_1` FOREIGN KEY (`idReceta`) REFERENCES `recetas` (`id`),
  CONSTRAINT `produccion_ibfk_2` FOREIGN KEY (`idGalleta`) REFERENCES `galletas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produccion`
--

LOCK TABLES `produccion` WRITE;
/*!40000 ALTER TABLE `produccion` DISABLE KEYS */;
INSERT INTO `produccion` VALUES (1,1,1,100,'2025-04-07'),(3,1,1,10,'2025-04-07'),(4,1,1,14,'2025-04-07'),(16,1,1,100,'2025-04-07'),(17,2,2,100,'2025-04-07'),(18,2,2,100,'2025-04-07'),(19,2,2,10,'2025-04-07'),(20,2,2,14,'2025-04-07'),(21,3,3,100,'2025-04-07'),(22,3,3,100,'2025-04-07'),(23,3,3,10,'2025-04-07'),(24,3,3,14,'2025-04-07'),(25,4,4,100,'2025-04-07'),(26,4,4,10,'2025-04-07'),(27,4,4,14,'2025-04-07'),(29,5,5,100,'2025-04-07');
/*!40000 ALTER TABLE `produccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombreProveedor` varchar(50) NOT NULL,
  `direccion` varchar(100) DEFAULT NULL,
  `correo` varchar(50) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
INSERT INTO `proveedores` VALUES (1,'Distribuidora de Insumos Deliciosos','Avenida Central #123, Ciudad de México','ventas@insumosdeliciosos.com','55-1234-5678'),(4,'El Zorro','San Jeronimo','Zorro@gmail.com','4778907654'),(5,'Gamesa','Blvr Aeropuerto 1011 ','gamesa@gmail.com','4776655707');
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recetainsumos`
--

DROP TABLE IF EXISTS `recetainsumos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recetainsumos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idReceta` int NOT NULL,
  `idInsumo` int NOT NULL,
  `cantidadInsumo` decimal(10,2) NOT NULL,
  `cantidadSeleccionada` decimal(10,2) NOT NULL,
  `unidadSeleccionada` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idReceta` (`idReceta`),
  KEY `idInsumo` (`idInsumo`),
  CONSTRAINT `recetainsumos_ibfk_1` FOREIGN KEY (`idReceta`) REFERENCES `recetas` (`id`),
  CONSTRAINT `recetainsumos_ibfk_2` FOREIGN KEY (`idInsumo`) REFERENCES `insumos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recetainsumos`
--

LOCK TABLES `recetainsumos` WRITE;
/*!40000 ALTER TABLE `recetainsumos` DISABLE KEYS */;
/*!40000 ALTER TABLE `recetainsumos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recetas`
--

DROP TABLE IF EXISTS `recetas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recetas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombreReceta` varchar(50) NOT NULL,
  `descripcion` text,
  `rutaFoto` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recetas`
--

LOCK TABLES `recetas` WRITE;
/*!40000 ALTER TABLE `recetas` DISABLE KEYS */;
/*!40000 ALTER TABLE `recetas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `apellido_paterno` varchar(50) NOT NULL,
  `apellido_materno` varchar(50) DEFAULT NULL,
  `correo` varchar(120) NOT NULL,
  `contrasenia_hash` varchar(255) NOT NULL,
  `rol` enum('admin','cajero','inventario','cliente','produccion') NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `direccion` varchar(200) DEFAULT NULL,
  `fecha_contratacion` date DEFAULT NULL,
  `salario` decimal(10,2) DEFAULT NULL,
  `fecha_registro` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventaslocal`
--

DROP TABLE IF EXISTS `ventaslocal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventaslocal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_presentacion` int NOT NULL,
  `cantidadcomprado` int NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `fechaCompra` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_presentacion` (`id_presentacion`),
  CONSTRAINT `ventaslocal_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `ventaslocal_ibfk_2` FOREIGN KEY (`id_presentacion`) REFERENCES `presentacionesgalletas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventaslocal`
--

LOCK TABLES `ventaslocal` WRITE;
/*!40000 ALTER TABLE `ventaslocal` DISABLE KEYS */;
INSERT INTO `ventaslocal` VALUES (1,4,1,1,1.83,2.12,'2025-04-07 18:07:10'),(2,4,3,2,183.00,212.28,'2025-04-07 18:07:10');
/*!40000 ALTER TABLE `ventaslocal` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-11 14:23:07
